*{
    padding: 0;
    margin: 0;
}
.form{
    margin: 0 auto;
    margin-top: 100px;
    width: 400px;
}
input{
    height: 30px;
    width: 360px;
    margin-top: 10px;
    border: 1px solid teal;
    width: 400px;
    border-radius: 10px;
}
.container h2 {
    margin:0 auto;
    text-align: center;
    margin-top: 20px;
    color: teal;
    transition: all 0.90s ease;
    
}
.form2 {
    margin: 0 auto;
    margin-top: 80px;
    width: 400px;
}
#submitBtn, #submitBtn1 {
    height: 35px;
    width: 100px;
    margin-top: 20px;
    border: 1px solid teal;
    border-radius: 10px;
    background-color: teal;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease-out;
    position: absolute;
}
